
<h2>Create a New Event !! </h2>

<br>
<div>
        <%= form_for @event do |f| %>

                <%= f.label :data %>
                <%= f.text_area :data %><br>


        <%= f.submit "Create a New Event!"  %>
        <% end %>

</div>



